<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        {% for message in messages %}
            <p class="{{message.tap}}">{{message}}</p>
        {% endfor %}
        <form method="POST" action="add_email">
            {% csrf_token %}
            <input type="text" name="email_address" placeholder="YourEmail@email.com" />
            <input type="submit" value="submit" />
        </form>
    </body>
</html>
