*{

}
    #pokemon{
        width:1000px;
        display: inline-block;
    }
    #poke_info{
        border-left: 1px solid black;
        padding-left: 15px;
        vertical-align: top;
        width:200px;
        display:inline-block;
    }
