<form method="POST" action="/surveys/process">
    <label>Your Name: </label><input type="text" name="name" />
    <label>Dojo Location: </label>
        <select name="location">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
    <label>Favorite Language: </label>
        <select name="language">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
    <label>Comment (optional):</label>
    <textarea name="comment"></textarea>
    <input type="submit" value="Submit" />
</form>
