*{

}
.wrapper{
    width:1000px;
}
    img{
        display:inline-block;
        vertical-align: top;
        width:461px;
    }
    .ninja_info{
        display:inline-block;
        width:500px;
    }
